$font-stack: "Comfortaa", "Arial", "sans-serif"; 
$primary: aquamarine;
$secondary: salmon;
$background: whitesmoke;
$white: white;

$input-focus-bg: $primary;

:export {
    background: $background;
    input-focus-bg: $input-focus-bg;
    input-focus-border: $input-focus-bg;
}
