$themes: (
	icecream: (

        landing-no: aquamarine,
        landing-task: salmon,

        tasklist-header-bg: whitesmoke, 
        tasklist-font-selection-bg: aquamarine,
        tasklist-sort-handle: aquamarine,
        tasklist-swipe-handle: salmon,
        tasklist-delete-handle: white,
        tasklist-delete-handle-bg: aquamarine,
        tasklist-nav-back: aquamarine,

        tasklist-progress-bar: salmon,
        tasklist-progress-bar-bg: aquamarine,

        task-header-bg: whitesmoke, 
        task-details-handle: lightgray,
        task-sort-handle: aquamarine,

        task-details-bg: white,

        dashboard-icons: gray,
        dashboard-bg: whitesmoke,

        modal-bg: aquamarine, 

        appearance-page-bg: aquamarine,

	),
	grayscale: (
    
        landing-no: lightslategray,
        landing-task: lightgray,

        tasklist-header-bg: whitesmoke, 
        tasklist-font-selection-bg: lightslategray,
        tasklist-sort-handle: lightslategray,
        tasklist-swipe-handle: lightslategray,
        tasklist-delete-handle: white,
        tasklist-delete-handle-bg: lightgray,
        tasklist-nav-back: grey,

        tasklist-progress-bar: lightslategray,
        tasklist-progress-bar-bg: lightgray,

        task-header-bg: whitesmoke, 
        task-details-handle: lightgray,
        task-sort-handle: darkgray,

        task-details-bg: white,

        dashboard-icons: gray,
        dashboard-bg: whitesmoke,

        modal-bg: lightgray, 

        appearance-page-bg: lightgray,
    )
);

:export {}
