$salmon-dark: rgba(250, 128, 114, 1);
$salmon-medium: rgba(250, 128, 114, 0.8);
$salmon-medium-light: rgba(250, 128, 114, 0.5);
$salmon-light: rgba(250, 128, 114, 0.3);

$aquamarine-dark: rgba(127,255,212, 1);
$aquamarine-medium: rgba(127,255,212, 0.8);
$aquamarine-medium-light: rgba(127,255,212, 0.5);
$aquamarine-light: rgba(127,255,212, 0.3);

$themes: (
	icecream: (

        one: $salmon-dark,
        two: $aquamarine-dark,
        three: lightgray,
        four: whitesmoke,

        font-color: rgb(84,84,84),

        landing-do: aquamarine,
        landing-it: salmon,

        tasklist-header-font: rgb(84,84,84),
        tasklist-header-bg-init: $aquamarine-light, 
        tasklist-header-bg: white, 
        tasklist-header-bg-dark: lightslategray, 
        tasklist-header-bg-drag: lightgray,

        tasklist-font-selection-bg: aquamarine,
        tasklist-sort-handle: $aquamarine-medium,
        tasklist-swipe-handle: $salmon-light,
        tasklist-delete-handle: white,
        tasklist-delete-handle-bg: aquamarine,
        tasklist-nav-back: aquamarine,

        tasklist-progress-bar: salmon,
        tasklist-progress-bar-bg: aquamarine,

        task-header-bg: whitesmoke, 
        task-header-text-selected: $salmon-light,

        task-sort-handle: aquamarine,

        task-details-handle: lightgray,
        task-details-focus-bg: aquamarine,
        task-details-date-selected: aquamarine,

        slideout-controls-bg: aquamarine,
        slideout-controls-icons: rgb(84,84,84),

        dashboard-icons: gray,
        dashboard-bg: whitesmoke,
        dashboard-bg-pulse: lightgray,

        drive-signed-in: rgba(255,0,0,0.68),
        drive-hover: rgba(255,0,0,0.28),
        drive-signed-out: lightgray,

        modal-bg: aquamarine, 

        settings-view-bg: white,
        settings-view-link-bg: whitesmoke,
        settings-view-link: salmon,
        settings-list-item-font: rgb(84,84,84),

        appearance-view-bg: aquamarine,

	),
	grayscale: (
    
        one: rgb(84,84,84),
        two: lightgray,
        three: white,
        four: black,

        font-color: rgb(84,84,84),

        landing-do: lightslategray,
        landing-it: lightgray,

        tasklist-header-font: rgb(84,84,84),
        tasklist-header-bg-init: lightslategray, 
        tasklist-header-bg: white, 
        tasklist-header-bg-dark: lightgray, 
        tasklist-header-bg-drag: white,

        tasklist-font-selection-bg: lightslategray,
        tasklist-sort-handle: lightslategray,
        tasklist-swipe-handle: lightslategray,
        tasklist-delete-handle: white,
        tasklist-delete-handle-bg: lightgray,
        tasklist-nav-back: grey,

        tasklist-progress-bar: lightslategray,
        tasklist-progress-bar-bg: lightgray,

        task-header-bg: whitesmoke, 
        task-header-text-selected: $salmon-light,

        task-sort-handle: darkgray,

        task-details-handle: lightgray,
        task-details-focus-bg: whitesmoke,
        task-details-date-selected: whitesmoke,

        slideout-controls-bg: lightgray,
        slideout-controls-icons: rgb(84,84,84),

        dashboard-icons: gray,
        dashboard-bg: whitesmoke,
        dashboard-bg-pulse: lightgray,

        drive-signed-in: rgba(255,0,0,0.68),
        drive-hover: rgba(255,0,0,0.28),
        drive-signed-out: lightgray,

        modal-bg: lightgray, 

        settings-view-bg: white,
        settings-view-link-bg: whitesmoke,
        settings-view-link: rgb(84,84,84),
        settings-list-item-font: rgb(84,84,84),

        appearance-view-bg: whitesmoke,
    )
);
:export {
    icecream: {
        one: map-get(map-get($themes, "icecream"), "one");
        two: map-get(map-get($themes, "icecream"), "two");
        three: map-get(map-get($themes, "icecream"), "three");
        four: map-get(map-get($themes, "icecream"), "four");
    };
    grayscale: {
        one: map-get(map-get($themes, "grayscale"), "one");
        two: map-get(map-get($themes, "grayscale"), "two");
        three: map-get(map-get($themes, "grayscale"), "three");
        four: map-get(map-get($themes, "grayscale"), "four");
    }
}
/*
:export {
    icecream: {
        one: map-get(map-get($themes, "icecream"), "one");
        two: map-get(map-get($themes, "icecream"), "two");
        three: map-get(map-get($themes, "icecream"), "three");
        four: map-get(map-get($themes, "icecream"), "four");
    },
    grayscale: {
        one: map-get(map-get($themes, "grayscale"), "one");
        two: map-get(map-get($themes, "grayscale"), "two");
        three: map-get(map-get($themes, "grayscale"), "three");
        four: map-get(map-get($themes, "grayscale"), "four");
    }
}
*/
